.has-tooltip {
  position: relative;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 10;

  padding: 0.5em;
  top: -0.5em;

  left: 110%; /* w.r.t. parent */

  max-width: 50vw;
  width: max-content;
  word-break: break-all;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
}
