@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --viewer-background-focus: 0 0 0;
    --viewer-background: 0 0 0;
    --viewer-key: 0 0 0;
    --viewer-text: 0 0 0;
    --viewer-value-string: 0 0 0;
    --viewer-value: 0 0 0;
  }
}

@layer components {
  .absolute-center {
    @apply absolute right-1/2 bottom-1/2 translate-x-1/2 translate-y-1/2;
  }
}
